.unemployed-count {
  font-size: 2em;
  margin-top: 0em;
  text-align: center;
}

@media (max-width: 599px) {
  .unemployed-count {
    font-size: 1em !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

@media (max-width: 800px) {
  .unemployed-count {
    font-size: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
  }
}

.unemployed-count .unemployed-count-content {
  font-size: 0.6em;
}

h4 {
  display: block;
  /*margin: 0 0 1rem;*/
  text-rendering: optimizeLegibility;
  padding: 0;
}

