.unemployed-count {
  font-size: 2em;
  margin-top: 0em;
  text-align: center;
  padding-left: 16em;
  padding-right: 16em;
}

.unemployed-count .unemployed-count-content {
  font-size: 0.6em;
}

h4 {
  display: block;
  margin: 0 0 1rem;
  text-rendering: optimizeLegibility;
  padding: 0;
}

