.talent {
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.1s;
  width: 250px;
  margin: 2em;
}

.title {
  /*padding-left: 14px;*/
}

.talent:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.mat-card {
  width: 50%;
  margin-left: 20em;
  margin-top: 7em;
  padding-bottom: 3em;
}

.mat-card-content {
  margin-bottom: 0 !important;
}

.mat-card-actions {
  margin-right: 0 !important;
}

.mat-card > .mat-card-actions:last-child {
   margin-bottom: 0;
}

.btn-primary {
  margin-right: 2.5em !important;
}

.selected {
  background-color: #4CAF50;
}
