/* Add a black background color to the top navigation */
.movein-nav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.movein-nav a {
  transition: color 0.2s;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  opacity: 1;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

/* Change the color of links on hover */
.movein-nav a:hover {
  background-color: #4CAF50;
  color: white;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.movein-nav .icon {
  display: none;
}

.content {
  background-color: white;
}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 16px;
}
