<router-outlet></router-outlet>
<!--<app-dashboard></app-dashboard>-->
<!--<app-talent-create></app-talent-create>-->
<!--<app-talent-read></app-talent-read>-->
<!--<router-outlet name="SignIn"></router-outlet>-->
<!--<router-outlet name="PreRegister"></router-outlet>-->
<!--<router-outlet name="UpdateProfile"></router-outlet>-->
<!--<router-outlet name="Dashboard"></router-outlet>-->
<!--<mat-card>-->
  <!--<mat-card-title>Talents</mat-card-title>-->
  <!--<mat-card-subtitle>Please pic atleast 3 talents that speak to you</mat-card-subtitle>-->
  <!--<mat-card-content>-->
    <!--<button mat-button *ngFor="let talent of talents" ngClass="{selected: sTalent}"-->
            <!--(click)="selectedTalent();" class="talent" > {{ talent.name }}</button>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions>-->
    <!--<button mat-button class="btn-primary">Next</button>-->
  <!--</mat-card-actions>-->
<!--</mat-card>-->
