<div>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title class="card-title title">Register</mat-card-title>
        <mat-card-subtitle class="sub-title">Build a creative personal profile</mat-card-subtitle>
        <hr />
        <mat-card-content>
          <p class="errorMessage"> {{ errorMessage }}</p>
         <p>
            <input type="email" required [(ngModel)]="email" placeholder="Email"/>
            <input type="password" required [(ngModel)]="password" placeholder="Password"/>
          </p>
        </mat-card-content>
        <mat-card-actions class="action">
          <button mat-flat-button color="basic" class="cancel" routerLink="/">Cancel</button>
          <button mat-stroked-button color="primary" class="signup" (click)="createduser()">Sign Up</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
