<div class="rg-container">
  <mat-grid-list cols="2">
    <mat-grid-tile class="tile">
      <mat-card class="register-container">
        <mat-card-title class="card-title title">Register</mat-card-title>
        <mat-card-subtitle class="sub-title">Build a creative personal profile</mat-card-subtitle>
        <hr />
        <mat-card-content>
         <p *ngIf="!(authService.user | async)">
            <input type="email" required [(ngModel)]="email" placeholder="Email"/>
            <input type="password" required [(ngModel)]="password" placeholder="Password"/>
            <input type="password" required [(ngModel)]="cPassword" placeholder="Confirm Password" />
          </p>
        </mat-card-content>
        <mat-card-actions class="action">
          <button mat-flat-button color="basic" class="cancel" routerLink="/">Cancel</button>
          <button mat-stroked-button color="primary" class="signup" (click)="signUp()">Sign Up</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</div>
