.register-container {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
  min-height: auto;
  border-radius: 8px;
  flex: 0 0 auto;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.cancel {
  margin-left: -9em;
  text-align: left;
  padding: 0em;
}

.signup {
  background-color: #4CAF50;
  border-radius: 4px;
  color: white;
  margin-left: 9em;

}

.action {
  margin-left: 10em;
  margin-bottom: 2px !important;
}

.tile {
  padding-top: 25em !important;
}

.rg-container {
  padding-left: 25em;
  padding-right: 25em;
}

p {
  padding: 10px;

}
