.content {
  color: black;
  padding-left: 16em;
  padding-right: 16em;
}

section {
  padding-top: inherit;
}

.sec-right {
  padding-left: 20px;
}

.card-content {
  color: #5C5C5C;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.card-title {
  color: #343951;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
