<div class="content">
  <div>
        <mat-card>
          <mat-card-title class="card-title">Talent Spotting</mat-card-title>
          <hr>
          <mat-card-content class="card-content">
            <p>
              The old way of talent spotting was based on individuals with the brains, experience,
              or competency. That has changed...
            </p>
            <p>
              The new way of talent spotting is based on potential, passion, intelligence, attitude, aptitude
              and ambition.
            </p>
          </mat-card-content>
        </mat-card>
  </div>
  <div>
      <mat-card>
        <mat-card-title class="card-title">MOVEIN The Right Direction</mat-card-title>
        <hr>
        <mat-card-content class="card-content">
         <p>
           MOVEIN is a personalised platform for a diverse, unskilled/skilled but unemployed South African individuals
           who are not able to participate in the labour force.
         </p>
          <p>
            Build your portfolio and let us help you stand out.
          </p>
        </mat-card-content>
      </mat-card>
  </div>
</div>
