<div>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title class="card-title title">Sign In</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            <input type="email" [(ngModel)]="email" placeholder="Email"/>
            <input type="password" [(ngModel)]="password" placeholder="Password" />
          </p>
          <p>
        </mat-card-content>
        <mat-card-actions class="action">
          <button mat-flat-button color="basic" class="cancel" (click)="onNoClick()">Cancel</button>
          <button mat-stroked-button color="primary" class="signin" (click)="signIn()">Sign In</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
