<ng-container>
  <mat-toolbar class="example-header">{{ logedInUser }}</mat-toolbar>
  <mat-toolbar class="example-header logout">
    <button mat-button (click)="logOut()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed"
                 [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
      <mat-sidenav-content>
        <button mat-button>Profile</button>
        <button mat-button (click)="getUserSkills()">Skills & Passion</button>
        <button mat-button>Next</button>
        <button mat-button>Industries</button>
      </mat-sidenav-content>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options" class="content">
      <ul>
        <li *ngFor="let skill of skills">
          {{ skill }}
        </li>
      </ul>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>
