.example-container {
  position: absolute;
  top: 74px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 20px !important;
}

.example-sidenav {
  display: inline-block;
  justify-content: center;
  width: auto;
  height: 100%;
  background-image: linear-gradient(-62deg,#283E8C 0,#232240 86%);
  position: fixed;
  top: 78px;
}

@media (max-width: 499px) {
  .example-sidenav {
    overflow: hidden;
    top: 74px;
    bottom: 10px;
    height: 35px;
    width: 100%;
  }

  .mat-button {
    display: inline !important;
    padding: 0 !important;
    min-width: 72px !important;
  }
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 21px;
  background-image: linear-gradient(-62deg,#283E8C 0,#232240 86%);
}

.logout {
<<<<<<< HEAD
  left: 90em;
  padding: 12px;
=======
  /*left: 90em;*/
  /*padding: 12px;*/
  cursor: pointer;
  float: right;
>>>>>>> movein-one
  background: inherit;
}


.dash-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-button {
  display: block;
  /*padding-right: 10em;*/
}

p {
  padding-left: 25em;
}

ul {
  background-color: black;
  margin-left: 20em;
}
li {
  color: white;
}

mat-toolbar {
  color: inherit;
}
<<<<<<< HEAD
=======

.mat-toolbar-row, .mat-toolbar-single-row {
  display: inline-table;
}
>>>>>>> movein-one
