/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
body {
  background-color: #efefef;
  color: #FFFFFF;
  font-family: ProximanovaThin,sans-serif;
  margin: 0px
}

.title {
  padding-top: 2em;
  padding-left: 12em;
}

.sub-title {
  padding-left: 10em;
}

.card-title {
  color: #343951;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

input[type=text], input[type=email], input[type=number], input[type=password], textarea, input {
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 6px 10px;
  height: 40px;
  border: 1px solid #e4ebef;
  border-radius: 4px;
  background-color: #ffffff;
  vertical-align: middle;
  line-height: normal;
  max-width: 100%;
  margin-left: 20px ;
  font-size: 14px;
  color: #7c7c80;
}

.rg-container {
  padding-left: 25em;
  padding-right: 25em;
}

.errorMessage {
  color: red;
  margin-left: 10em;
}

.mat-dialog-container {
  box-shadow:none !important;
  background: none;
}

.btn-primary {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  float: right;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 12px;
}

.btn-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
