<!--<div class="rg-container">-->
  <mat-grid-list cols="1" >
      <mat-grid-tile>
        <mat-card class="skills">
          <mat-card-title>Update Personal Info</mat-card-title>
          <mat-card-content>
            <p> {{ errorMessage }} </p>
            <p>
              <input type="text" [(ngModel)]="firstName" placeholder="First Name" />
              <input type="text" [(ngModel)]="lastName" placeholder="Last Name" />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="userProfile()" class="save">Update</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
  <!--<mat-grid-list cols="2" >-->
      <!--<mat-grid-tile>-->
        <!--<mat-card class="skills">-->
          <!--<mat-card-title>Skills & Passions</mat-card-title>-->
          <!--<mat-card-subtitle>What would you do even when you were not going to be paid for it?</mat-card-subtitle>-->
          <!--<hr />-->
          <!--<mat-card-content>-->
            <!--<p>-->
              <!--<input [(ngModel)]="skill_1" type="text"/>-->
              <!--<input [(ngModel)]="skill_2" type="text"/>-->
            <!--</p>-->
            <!--<p>-->
              <!--<input [(ngModel)]="skill_3" type="text"/>-->
              <!--<input [(ngModel)]="skill_4" type="text"/>-->
            <!--</p>-->
            <!--<p>-->
              <!--<input type="text"/>-->
              <!--<input type="text"/>-->
            <!--</p>-->
          <!--</mat-card-content>-->
          <!--<mat-card-actions>-->
            <!--<button mat-raised-button (click)="addSkills()" class="save">Save</button>-->
          <!--</mat-card-actions>-->
        <!--</mat-card>-->
      <!--</mat-grid-tile>-->
      <!--&lt;!&ndash;<mat-grid-tile disabled="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-card class="next">&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-card-title>Whats Your next move?</mat-card-title>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-card-subtitle>What do you want to do in the next 6 months?</mat-card-subtitle>&ndash;&gt;-->
          <!--&lt;!&ndash;<hr />&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-card-content>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
              <!--&lt;!&ndash;<textarea [(ngModel)]="next" placeholder="What is your short term goal?"></textarea>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-card-content>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-card-actions>&ndash;&gt;-->
          <!--&lt;!&ndash;<button mat-raised-button (click)="addNext()" class="save">Save</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-card-actions>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-grid-tile>&ndash;&gt;-->
  <!--</mat-grid-list>-->
<!-- </div> -->
