<div class="rg-container">
  <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-card class="skills">
          <mat-card-title>Skills & Passions</mat-card-title>
          <mat-card-subtitle>What would you do even when you were not going to be paid for it?</mat-card-subtitle>
          <hr />
          <mat-card-content>
            <p>
              <input type="text"/>
              <input type="text"/>
            </p>
            <p>
              <input type="text"/>
              <input type="text"/>
            </p>
            <p>
              <input type="text"/>
              <input type="text"/>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="save">Save</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="next">
          <mat-card-title>Whats Your next move?</mat-card-title>
          <mat-card-subtitle>What do you want to do in the next 6 months?</mat-card-subtitle>
          <hr />
          <mat-card-content>
            <p>
              <textarea placeholder="What is your short term goal?"></textarea>
            </p>
          </mat-card-content>
          <mat-card-actions>
          <button mat-raised-button class="save">Save</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
