.skills {
  left: 25px;
  width: auto;
  margin-top: 0px;
  padding-top: 16px !important;
}
.save {
  background-color: #4CAF50;
  border-radius: 4px;
  color: white;
  margin-left: 25em !important;
  margin-bottom: 4px !important;
}

input[type=text] {
  padding-left: 10px !important;
}

.next {
  padding-top: 4px !important;
}

textarea {
  margin: 0px 0px 0px 4px;
  width: 397px;
  height: 180px;
}

.mat-grid-tile {
  /*left: 3em !important;*/
  width: 100% !important;
  margin-top: 62px !important;
  padding-top: 24em !important;
}

@media (max-width: 600px) {
  .skills {
    width: 85% !important;
    left: 0 !important;
  }

  .save {
    margin-left: 14em !important;
  }
  input[type=text] {
    margin-top: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  mat-grid-tile {
    left: 0 !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .skills {
    width: 56% !important;
    left: 65px !important;
  }
}

@media screen and (min-width: 600px) {
  .mat-card>:first-child {
    margin-left: 17px;
  }
  .mat-grid-tile {
    left: 3em !important;
  }
}

@media screen and (width: 1024px){
  .skills {
    width: 44% !important;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

mat-grid-list {
  position: inherit !important;
}
