.register {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  float: right;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 12px;
}

.register span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.register:hover span {
  padding-right: 25px;
}

.register:hover span:after {
  opacity: 1;
  right: 0;
}
